# For torchattacks
# torch>=1.4.0  # It forces to update torch to LTS version.
scipy>=0.14.0

# For robustbench.
tqdm>=4.56.1 
requests>=2.25.1
pandas>=1.2.4
# The last stable 1.x version of numpy
numpy==1.26.4
